@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #f0d9ff;
}

section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 100px;
    color: #fff;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content {
    position: relative;
    width: 1150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .content .image {
        position: relative;
        width: 800px;
        height: 400px;
        overflow: hidden;
    }

        .content .image img {
            z-index: 111;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
        }

    .content .text-box {
        background: #bfa2db;
        backdrop-filter: blur(20px);
        padding: 40px;
        max-width: 600px;
        border: #3d087b;
        border-radius: 10px;
        transform: translate(-80px, 50px);
    }

        .content .text-box h3 {
            font-size: 2em;
            margin-bottom: 10px;
        }

    .content .info h3 {
        font-size: 2em;
        margin-bottom: 10px;
    }

.info {
    width: 700px;
    margin-left: 50px;
    color: #4b3869;
}

.button {
    padding: 7px 20px;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    transition-duration: 0.1s;
    background-color: #4b3869;
    color: #f0d9ff;
    border: #4b3869;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

    .button:hover {
        box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    }

.content .info .button:hover {
    background-color: #f0d9ff;
    color: black;
    border: 2px solid #4b3869;
}

.content .text-box .button:hover {
    background-color: #bfa2db;
    color: #4b3869;
    border: 2px solid #4b3869;
}

.to-top {
    background: white;
    position: fixed;
    bottom: 16px;
    right: 32px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: #4b3869;
    text-decoration: none;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s;
}

    .to-top.active {
        bottom: 32px;
        pointer-events: auto;
        opacity: 1;
    }

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #f4f4f4;
    margin: 5% auto;
    padding: 10px;
    width: 70%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
    animation-name: modalopen;
    animation-duration: 2s;
    color: #4b3869;
}

.modal-header h2,
.modal-footer h3 {
    margin: 0;
}

.modal-header {
    background: #4b3869;
    padding: 15px;
    color: #fff;
}

.modal-body {
    padding: 10px 20px;
}

.modal-footer {
    background: #4b3869;
    padding: 10px;
    color: #fff;
    text-align: center;
}

.closeBtn {
    color: #ccc;
    float: right;
    font-size: 30px;
    color: #fff;
}

    .closeBtn:hover,
    .closeBtn:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

.closeBtn1 {
    color: #ccc;
    float: right;
    font-size: 30px;
    color: #fff;
}

    .closeBtn1:hover,
    .closeBtn1:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

.closeBtn2 {
    color: #ccc;
    float: right;
    font-size: 30px;
    color: #fff;
}

    .closeBtn2:hover,
    .closeBtn2:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

.closeBtn3 {
    color: #ccc;
    float: right;
    font-size: 30px;
    color: #fff;
}

    .closeBtn3:hover,
    .closeBtn3:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

@keyframes modalopen {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
