<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>1971-1980 Streamline</title>
  <link rel="icon" href="/css/favicon.ico">
  <link rel="stylesheet" href="css/common.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <script src="https://unpkg.com/scrollreveal"></script>
  <script src="https://kit.fontawesome.com/8eb611cdaa.js" crossorigin="anonymous"></script>
</head>

<body>
  <br>
  <br>
  <section class="sec-01">
    <div class="container">
      <div class="content">
        <div class="image">
          <img src="images/snow_leopard.jpg" alt="">
        </div>
        <div class="text-box">
          <h3>Snow Leopard</h3>
          <ul>
            <b>Scientific name:</b> Panthera uncia<br>
            <b>Status:</b> Endangered<br>
            <b>Weight:</b> 23-41kg<br>
            <b>Size:</b> 2.1meters(7 feet)<br>
            <b>Population:</b> Around 450-500<br>
            <b>Habitat:</b> In India, their geographical range encompasses a large part of the western Himalayas including the states of Jammu and Kashmir, Himachal Pradesh.<br>
            <b>Diet:</b> Most of the snow leopard diet consisted of wild ungulates (85.8%), mostly bharal (60.8%). Yak (14.2%).<br>
            <b>Range:</b> Snow leopards prefer steep, rugged terrains with rocky outcrops and ravines.
          </ul><br>
          <button id="modalBtn" class="button">MORE INFO!</button>
        </div>
        <div id="simpleModal" class="modal">
          <div class="modal-content">
            <div class="modal-header">
              <span class="closeBtn">&times;</span>
              <h2>Snow Leopard</h2>
            </div>
            <div class="modal-body">
              <p>The snow leopard is listed in CITES Appendix I. It has been listed as threatened with extinction in Schedule I of the Convention on the Conservation of Migratory Species of Wild Animals since 1985. Hunting snow leopards has been prohibited in Kyrgyzstan since the 1950s.</p>
              <br>
              <p>In India, the snow leopard is granted the highest level of protection under the Wildlife Protection Act, 1972, and hunting is sentenced with imprisonment of 3–7 years.</p>
            </div>
            <div class="modal-footer">
              <a href="https://www.wwfindia.org/about_wwf/priority_species/snow_leopard/about_snow_leopard/#:~:text=Habitat%20and%20distribution,Pradesh%20in%20the%20eastern%20Himalayas." style="text-decoration: none; color: white;" target="_blank">
                <h3>Protect BIG CATS</h3>
              </a>
            </div>
          </div>
        </div>
      </div>
  </section>
  <br>
  <br>
  <br>
  <br>
  <section class="sec-02">
    <div class="container">
      <div class="content">
        <div class="image">
          <img src="images/serow.jpg" alt="">
        </div>
        <div class="info">
          <h3>Serow</h3>
          <p>
            <b>Scientific name:</b> Capricornis<br>
            <b>Status:</b> Near threatened<br>
            <b>Weight:</b> 130.0 kg (286.6 pounds)<br>
            <b>Size:</b> 75 cm [30 inches] at shoulder height)<br>
            <b>Population Density:</b> 1.6 Serow/km² in Himalayan area<br>
            <b>Habitat:</b> They are known to be found in eastern, central, and western Himalayas, but not in the Trans Himalayan region.<br>
            <b>Diet:</b> Himalayan serows are herbivores.<br>
            <b>Range:</b> They are typically found at altitudes between 2,000 metres and 4,000 metres.
          </p><br>
          <button id="modalBtn1" class="button">MORE INFO!</button>
        </div>
      </div>
      <div id="simpleModal1" class="modal">
        <div class="modal-content">
          <div class="modal-header">
            <span class="closeBtn1">&times;</span>
            <h2>Serow</h2>
          </div>
          <div class="modal-body">
            <p>The animal was spotted near Hurling village in Spiti, Himachal Pradesh.</p>
              <br>
            <p>This is the first recorded human sighting of the serow in Himachal Pradesh. The animal has been spotted a few times earlier in the state, but that has always been through camera traps.</p>
            <br>
            <p>The animal has also been spotted in the Rupi Bhaba Wildlife Sanctuary, and in the higher reaches of Chamba.</p>
          </div>
          <div class="modal-footer">
            <a href="https://www.drishtiias.com/daily-updates/daily-news-analysis/himalayan-serow#:~:text=Geographical%20Location%3A,in%20the%20Trans%20Himalayan%20region." style="text-decoration: none; color: white;" target="_blank">
              <h3>Protect SEROWS</h3>
            </a>
          </div>
        </div>
      </div>
  </section>
  <br>
  <br>
  <br>
  <br>
  <section class="sec-03">
    <div class="container">
      <div class="content">
        <div class="image">
          <img src="images/black_bear.jpg" alt="">
        </div>
        <div class="text-box">
          <h3>Black Bear</h3>
          <p>
            <b>Scientific name:</b> Ursus americanus<br>
            <b>Status:</b> Vulnerable<br>
            <b>Weight:</b> 90–270 kg (200–600 pounds). Males can be up to 70 percent heavier than females.<br>
            <b>Size:</b> 1.5 to 1.8 metres (5 to 6 feet)<br>
            <b>Population:</b> Around 5,400 to 6,750<br>
            <b>Habitat:</b> In India, Asiatic black bears live in forested and mountainous habitats between 1,200 m and 3,300 m, in Jammu and Kashmir (above), Himachal Pradesh, Uttaranchal, Arunachal Pradesh, Sikkim, West Bengal, Mizoram, Meghalaya, and Tripura, according to Dr Sambandam.<br>
            <b>Diet:</b> Though classified as carnivores, black bears have an omnivorous diet.<br>
          </p><br>
          <button id="modalBtn2" class="button">MORE INFO!</button>
        </div>
        <div id="simpleModal2" class="modal">
          <div class="modal-content">
            <div class="modal-header">
              <span class="closeBtn2">&times;</span>
              <h2>Black Bear</h2>
            </div>
            <div class="modal-body">
              <p>The Asiatic black bear populations outside protected areas in Arunachal Pradesh are threatened by the transnational wildlife trade.</p>
              <br>
              <p>With poaching emerging as the key threat, conservationists from indigenous communities caution that conflating commercial hunting and poaching with traditional hunting runs the risk of undermining local conservation initiatives.</p>
              <br>
              <p>In addition to poaching and hunting, factors such as the expansion of the agrarian frontiers, increasing confrontation with humans, and loss and fragmentation of habitats are also threatening the species outside protected areas.</p>
            </div>
            <div class="modal-footer">
              <a href="https://sustain.round.glass/photo-story/asiatic-black-bear/#:~:text=In%20India%2C%20Asiatic%20black%20bears,is%20between%205%2C400%20to%206%2C750." style="text-decoration: none; color: white;" target="_blank">
                <h3>Protect BEARS</h3>
              </a>
            </div>
          </div>
        </div>
      </div>
  </section>
  <br>
  <br>
  <br>
  <br>
  <section class="sec-04">
    <div class="container">
      <div class="content">
        <div class="image">
          <img src="images/markhor.jpg" alt="">
        </div>
        <div class="info">
          <h3>Markhor</h3>
          <p>
            <b>Scientific name:</b> Capra falconeri<br>
            <b>Status:</b> Endangered<br>
            <b>Weight:</b> 32 to 110 kilograms (71 to 243 lb)<br>
            <b>Size:</b> 65 to 115 centimetres (26 to 45 in) at the shoulder, 132 to 186 centimetres (52 to 73 in)
            <br>
            <b>Population:</b> 200,000–250,000.
            <br>
            <b>Habitat:</b> WTI surveys show a Markhor in Kazinag, Uri in northern Kashmir, Hirapora in the south, Bunyar and Shamshabari in the west and Poonch and Rajouri, outside the Kashmir valley.<br>
            <b>Diet:</b> Markhors eat grass, leaves, and shoots on the ground and in trees, bushes, and other shrubbery.<br>
            <b>Range:</b> In India, the markhor is found only in Jammu and Kashmir, between 1,800 to 4,300 metres.
          </p><br>
          <button id="modalBtn3" class="button">MORE INFO!</button>
        </div>
        <div id="simpleModal3" class="modal">
          <div class="modal-content">
            <div class="modal-header">
              <span class="closeBtn3">&times;</span>
              <h2>Markhor</h2>
            </div>
            <div class="modal-body">
              <p>The Markhor is officially protected under the Jammu and Kashmir Wildlife Protection Act.</p>
                <br>
              <p>But it remains highly threatened due to ill-planned development projects, overgrazing by domestic animals, laying of electricity transmission lines, poaching and fragmentation of its habitat due to fencing along the border between India and Pakistan. This fragmentation has led to inbreeding on both sides.</p>
            </div>
            <div class="modal-footer">
              <a href="https://sustain.round.glass/photo-story/markhor/" style="text-decoration: none; color: white;" target="_blank">
                <h3>Protect MARKHOR</h3>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <a href="#" class="to-top">
    <i class="fas fa-chevron-up"></i>
  </a>
  <script src="js/common.js"></script>

</body>

</html>
