<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>1991-2000 Streamline</title>
  <link rel="icon" href="/css/favicon.ico">
  <link rel="stylesheet" href="css/common.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <script src="https://unpkg.com/scrollreveal"></script>
  <script src="https://kit.fontawesome.com/8eb611cdaa.js" crossorigin="anonymous"></script>
</head>

<body>
  <br>
  <br>
  <section class="sec-01">
    <div class="container">
      <div class="content">
        <div class="image">
          <img src="images/chiru.jpg" alt="">
        </div>
        <div class="text-box">
          <h3>Chiru (Tibetan Antelope)</h3>
          <ul>
            <b>Scientific name:</b> Pantholops hodgsonii<br>
            <b>Status:</b> Near Threatened<br>
            <b>Weight:</b> 80 kg  (176 lbs)<br>
            <b>Size:</b> 83 cm (33 inches)<br>
            <b>Population:</b> 75,000(globally)<br>
            <b>Habitat:</b> In India, Tibetan antelopes are found in Daulat Beg Oldi (DBO) and the Chang Chenmo Valley (CCV) in north–east Ladakh.<br>
            <b>Diet:</b> Tibetan antelope feed on forbs, grasses, and sedges, often digging through the snow to obtain food in winter.<br>
          </ul><br>
          <button id="modalBtn" class="button">MORE INFO!</button>
        </div>
        <div id="simpleModal" class="modal">
          <div class="modal-content">
            <div class="modal-header">
              <span class="closeBtn">&times;</span>
              <h2>Chiru (Tibetan Antelope)</h2>
            </div>
            <div class="modal-body">
              <p>According to the IUCN Red List, the total population size of Tibetan antelopes is 100,000-150,000 mature individuals. Currently, this species is classified as Near Threatened (NT) on the IUCN Red List but its numbers today are increasing.</p>
              <br>
              <p>Due to their grazing habits, Tibetan antelopes hugely impact their ecosystem. They are also an important food source for local predators such as wolves, lynx, and snow leopards.</p>
            </div>
            <div class="modal-footer">
              <a href="https://animalia.bio/tibetan-antelope" style="text-decoration: none; color: white;" target="_blank">
                <h3>Protect CHIRU</h3>
              </a>
            </div>
          </div>
        </div>
      </div>
  </section>
  <br>
  <br>
  <br>
  <br>
  <section class="sec-02">
    <div class="container">
      <div class="content">
        <div class="image">
          <img src="images/nayan.jpg" alt="">
        </div>
        <div class="info">
          <h3>Nayan (Tibetan Sheep)</h3>
          <p>
            <b>Scientific name:</b> Ovis ammon hodgsoni<br>
            <b>Status:</b> Least Concerned(population is decreasing)<br>
            <b>Weight:</b> Around 100kg<br>
            <b>Size:</b> 200cm(length), 135(height)<br>
            <b>Population:</b> About 30,000 near the Indo-Tibetian border.<br>
            <b>Habitat:</b> Tibetan Argali is found at the high laying protected area of Nepal.
They have been Captured in Camera trapping at the elevation of 4, 796 meters above sea level on Upper Dolpo Nepal.
<br>
            <b>Diet:</b> It is the herbivores animal and predominate diet of the Great Tibetan Sheep comprises of Grassed, twinges, sages and others.<br>
          </p><br>
          <button id="modalBtn1" class="button">MORE INFO!</button>
        </div>
      </div>
      <div id="simpleModal1" class="modal">
        <div class="modal-content">
          <div class="modal-header">
            <span class="closeBtn1">&times;</span>
            <h2>Nayan (Tibetan Sheep)</h2>
          </div>
          <div class="modal-body">
            <p>Great Tibetan sheep is one of the protected species of Nepal found in the high elevation area. Habitat destruction followed by illegal hunting is the prime cause of the steep decline in population of Tibetan Argali.</p>
          </div>
          <div class="modal-footer">
            <a href="https://nepalensis.com/great-tibetan-sheep-or-nayan/" style="text-decoration: none; color: white;" target="_blank">
              <h3>Protect NAYAN</h3>
            </a>
          </div>
        </div>
      </div>
  </section>
  <br>
  <br>
  <br>
  <br>
  <section class="sec-03">
    <div class="container">
      <div class="content">
        <div class="image">
          <img src="images/tahr.jpg" alt="">
        </div>
        <div class="text-box">
          <h3>Himalayan Tahr</h3>
          <p>
            <b>Scientific name:</b> Hemitragus jemlahicus<br>
            <b>Status:</b> Near Threatened<br>
            <b>Weight:</b> 35 kg (Adult)<br>
            <b>Size:</b> 50 – 70 cm (Adult, At Shoulder)<br>
            <b>Population:</b> Around 100 individuals in the Great Himalayan National Park<br>
            <b>Habitat:</b> Its native habitat is in the rugged wooded hills and mountain slopes of temperate to sub-alpine forests up to treeline between elevations of 2500 and 5200m.<br>
            <b>Diet:</b> The Tahr will eat almost any vegetation, from grass and herbs to the leaves of shrubs and trees.<br>
          </p><br>
          <button id="modalBtn2" class="button">MORE INFO!</button>
        </div>
        <div id="simpleModal2" class="modal">
          <div class="modal-content">
            <div class="modal-header">
              <span class="closeBtn2">&times;</span>
              <h2>Himalayan Tahr</h2>
            </div>
            <div class="modal-body">
              <p>The Himalayan Tahr, also known as kaarth, meshi, and taheer, is a species of grazing ungulates that are found in parts of the Himalayan mountain range. This large mammal is a relative of the wild goat and is specially adapted to life on the rugged mountain slopes of the Himalayas. </p>
              <br>
              <p>Being vulnerable to hunting and habitat loss, this beautiful creature is undergoing a population decline and has already been declared as near threatened.</p>
            </div>
            <div class="modal-footer">
              <a href="http://www.altinawildlife.com/himalayan-tahr/" style="text-decoration: none; color: white;" target="_blank">
                <h3>Protect TAHR</h3>
              </a>
            </div>
          </div>
        </div>
      </div>
  </section>
  <br>
  <br>
  <br>
  <br>
  <section class="sec-04">
    <div class="container">
      <div class="content">
        <div class="image">
          <img src="images/musk_deer.jpg" alt="">
        </div>
        <div class="info">
          <h3>Musk Deer</h3>
          <p>
            <b>Scientific name:</b> Moschus<br>
            <b>Status:</b> Endangered<br>
            <b>Weight:</b> 11-18 kg / 24-40 lb<br>
            <b>Size:</b> 50 – 70 cm (Adult, At Shoulder)
            <br>
            <b>Population:</b> Less than 5,000
            <br>
            <b>Habitat:</b> Himalayan musk deer occurs in parts of northern Afghanistan, Pakistan, Tibet, Nepal, Bhutan, and in northern India such as in Jammu and Kashmir, Himachal Pradesh, Uttarakhand, Sikkim and Arunachal Pradesh.<br>
            <b>Diet:</b> Musk deer consume lichens, forbs, leaves, flowers, moss, pine needles, shoots, twigs, and grass in the forest.<br>
            <b>Range:</b> It inhabits high alpine environments above altitudes of 2,500 m (8,200 ft).
          </p><br>
          <button id="modalBtn3" class="button">MORE INFO!</button>
        </div>
        <div id="simpleModal3" class="modal">
          <div class="modal-content">
            <div class="modal-header">
              <span class="closeBtn3">&times;</span>
              <h2>Musk Deer</h2>
            </div>
            <div class="modal-body">
              <p>Musk deer are the source of musk, a scent that has been in high demand for almost 5,000 years. In 1855, some 81,200 sacs were shipped from Russia to China via Kyakhta.</p>
                <br>
              <p>After barely a short time, 100,000 sacs were brought to Japan in a single year.</p>
              <br>
              <p>Though the remaining three musk deer species are classified as Least Concern that is due to lower risk and Near Threatened.</p>
            </div>
            <div class="modal-footer">
              <a href="https://www.britannica.com/explore/savingearth/the-musk-deer-of-india#:~:text=The%20Kasturi%20Mrig%20%5Bas%20it,than%205%2C000%2C%20due%20to%20poaching." style="text-decoration: none; color: white;" target="_blank">
                <h3>Protect DEERS</h3>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <a href="#" class="to-top">
    <i class="fas fa-chevron-up"></i>
  </a>
  <script src="js/common.js"></script>

</body>

</html>
