<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>2001-2011 Streamline</title>
  <link rel="icon" href="/css/favicon.ico">
  <link rel="stylesheet" href="css/common.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <script src="https://unpkg.com/scrollreveal"></script>
  <script src="https://kit.fontawesome.com/8eb611cdaa.js" crossorigin="anonymous"></script>
</head>

<body>
  <br>
    <br>
    <section class="sec-01">
        <div class="container">
            <div class="content">
                <div class="image">
                    <img src="images/bustard2.jpeg" alt="">
                </div>
                <div class="text-box">
                    <h3>
                        Great Indian Bustard
                    </h3>
                    <ul>
                        <b>Scientific name:</b>  Ardeotis nigriceps

                        <br>
                        <b>Status:</b> Critically Endangered
                        <br>
                        <b>Weight:</b>  15 kg

                        <br>
                        <b>Size:</b> 1.2m

                        <br>
                        <b>Population:</b> Approximately 250-300
                        <br>
                        <b>Habitat:</b> Inhabits dry grasslands and scrublands on the Indian subcontinent
                        <br>
                        <b>Diet:</b> They prey on various arthropods, worms, small mammals, and small reptiles.
                        <br>
                        <b></b> The bustard is restricted to isolated pockets in Andhra Pradesh, Gujarat, Karnataka.

                    </ul><br>
                    <button id="modalBtn" class="button">MORE INFO!</button>
                </div>
                <div id="simpleModal" class="modal">
                    <div class="modal-content">
                        <div class="modal-header">
                            <span class="closeBtn">&times;</span>
                            <h2>Ardeotis nigriceps</h2>
                        </div>
                        <div class="modal-body">
                            <p>
                                Immense and stately ground-dwelling bird of expansive grasslands; also found more infrequently in other open grassy habitats such as semi-desert and lightly worked fields.
                            </p>
                            <p>
                                Brown-winged and pale-necked, with a dark cap; male has whiter neck than female. Often found in small flocks when not breeding. Unfortunately, critically endangered and declining throughout range.

                            </p>                          
                            
                        </div>
                        <div class="modal-footer">
                            <a href="https://ebird.org/species/indbus1?siteLanguage=en_IN" style="text-decoration: none; color: white;" target="_blank"><h3>Protect BIRDS</h3></a>
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <br>
    <br>
    <br>
    <br>
  <section class="sec-02">
    <div class="container">
      <div class="content">
        <div class="image">
          <img src="images/leopard.jpg" alt="">
        </div>
        <div class="info">
          <h3>Leopard</h3>
          <p>
            <b>Scientific name:</b>Panthera pardus<br>
            <b>Status:</b> Vulnerable<br>
            <b>Weight:</b> 31 kg (Adult)<br>
            <b>Size:</b> 60-70 cm shoulder width<br>
            <b>Population:</b> Around 14000<br>
            <b>Habitat:</b>They occur in a wide range of habitats; from deserts and semi-desert regions of southern Africa, to arid regions of North Africa, to savanna grasslands of East and southern Africa, to mountainous environments on Mt. Kenya, to the rainforests of West and Central Africa.<br>
            <b>Diet:</b>Baboons, hares, rodents, birds, lizards, porcupines, warthogs, fish, and dung beetles are all part of the leopard's extensive menu.<br>
            <br>
          <button id="modalBtn1" class="button">MORE INFO!</button>
        </div>
      </div>
      <div id="simpleModal1" class="modal">
        <div class="modal-content">
          <div class="modal-header">
            <span class="closeBtn1">&times;</span>
            <h2>Leopard</h2>
          </div>
          <div class="modal-body">
            <p>The leopard is so strong and comfortable in trees that it often hauls its kills into the branches. By dragging the bodies of large animals aloft it hopes to keep them safe from scavengers such as hyenas. Leopards can also hunt from trees, where their spotted coats allow them to blend with the leaves until they spring with a deadly pounce.</p>
              <br>
            <p>Female leopards can give birth at any time of the year. They usually have two grayish cubs with barely visible spots. The mother hides her cubs and moves them from one safe location to the next until they are old enough to begin playing and learning to hunt. Cubs live with their mothers for about two years—otherwise, leopards are solitary animals.</p>
          </div>
          <div class="modal-footer">
            <a href="https://www.nationalgeographic.com/animals/mammals/facts/leopard" style="text-decoration: none; color: white;" target="_blank">
              <h3>Protect CATS</h3>
            </a>
          </div>
        </div>
      </div>
  </section>
  <br>
  <br>
  <br>
  <br>
  <section class="sec-03">
    <div class="container">
      <div class="content">
        <div class="image">
          <img src="images/goldeneagle.jpg" alt="">
        </div>
        <div class="text-box">
          <h3>Golden eagle</h3>
          <p>
            <b>Scientific name:</b> Aquila chrysaetos<br>
            <b>Status:</b> Least Concern (Population decreasing)<br>
            <b>Weight:</b> 3.6 – 6.7 kg(male), 2.8 – 4.6 kg(female)<br>
            <b>Wingspan:</b> 1.8 – 2.3 m<br>
            <b>Size:</b> 66 – 100 cm<br>
            <b>Population:</b> Globally 170,000 birds<br>
            <b>Habitat:</b> The golden eagle inhabits various habitats like mountains, marshes, deserts, semi-deserts, plateaux, plains and steppe.<br>
            <b>Diet:</b> The golden eagle species feed on birds, reptiles, fish, amphibians and medium sized mammals like rodents, rabbits and hares.<br>
          </p><br>
          <button id="modalBtn2" class="button">MORE INFO!</button>
        </div>
        <div id="simpleModal2" class="modal">
          <div class="modal-content">
            <div class="modal-header">
              <span class="closeBtn2">&times;</span>
              <h2>Golden eagle</h2>
            </div>
            <div class="modal-body">
              <p>Human beings have been fascinated by the golden eagle as early as the beginning of recorded history. Most early-recorded cultures regarded the golden eagle with reverence.</p>
              <br>
              <p>It was only after the Industrial Revolution, when sport-hunting became widespread and commercial stock farming became internationally common, that humans started to widely regard golden eagles as a threat to their livelihoods.</p>
              <br>
              <p>This period also brought about the firearm and industrialized poisons, which made it easy for humans to kill the evasive and powerful birds.</p>
            </div>
            <div class="modal-footer">
              <a href="https://indianbirds.thedynamicnature.com/2015/08/golden-eagle-aquila-chrysaetos.html" style="text-decoration: none; color: white;" target="_blank">
                <h3>Protect EAGLES</h3>
              </a>
            </div>
          </div>
        </div>
      </div>
  </section>
  <br>
  <br>
  <br>
  <br>
  <section class="sec-04">
    <div class="container">
      <div class="content">
        <div class="image">
          <img src="images/squirrel.jpg" alt="">
        </div>
        <div class="info">
          <h3>Giant Flying Squirrel</h3>
          <p>
            <b>Scientific name:</b> Petaurista philippensis<br>
            <b>Status:</b> Vulnerable<br>
            <b>Weight:</b> 56g <br>
            <b>Size:</b> This is a large species, with a head and body length of about 43 cm and a tail of 50–52 cm. 
            <br>
            <b>Population:</b> 25,000
            <br>
            <b>Habitat:</b>The species is native to China, India, Laos, Myanmar, Sri Lanka, Taiwan, Thailand, and Vietnam. It inhabits dry deciduous and evergreen forest, usually at higher elevations from 500–2,000 m (1,600–6,600 ft) and has been recorded on plantations.<br>
            <b>Diet:</b> The species is mainly frugivorous, preferring the fruits of Ficus racemosa, followed by Cullenia and Artocarpus heterophyllus. It also takes bark, tree resins, shoots, leaves (particularly of F. racemosa), insects, and larvae.<br>
          </p><br>
          <button id="modalBtn3" class="button">MORE INFO!</button>
        </div>
        <div id="simpleModal3" class="modal">
          <div class="modal-content">
            <div class="modal-header">
              <span class="closeBtn3">&times;</span>
              <h2>Giant Flying Squirrel</h2>
            </div>
            <div class="modal-body">
              <p>These squirrels are most active just after dusk, when they forage in the canopy on plant materials from species such as Madhuca and Bahera trees. They tend to consume the pith of the plant, but will also feed on twigs, leaves, bark, flowers, fruits and seeds.</p>
                <br>
              
              <p>Males have much larger home ranges than females, which suggests a promiscuous mating system similar to other flying squirrels, but relatively few behavioural studies have been conducted on this species. They sleep and raise young in hollow trees they line with bark, fur, moss and leaves, and are generally solitary but will be social in areas where food is abundant. After gestation of around 46 days, young are born within the mother’s tree cavity and raised only by the mother.</p>
            </div>
            <div class="modal-footer">
              <a href="https://www.worldlandtrust.org/species/mammals/indian-giant-flying-squirrel/" style="text-decoration: none; color: white;" target="_blank">
                <h3>Protect RODENTS</h3>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <a href="#" class="to-top">
    <i class="fas fa-chevron-up"></i>
  </a>
  <script src="js/common.js"></script>

</body>

</html>