<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>1971-1980 Streamline</title>
  <link rel="icon" href="/css/favicon.ico">
  <link rel="stylesheet" href="css/common.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <script src="https://unpkg.com/scrollreveal"></script>
  <script src="https://kit.fontawesome.com/8eb611cdaa.js" crossorigin="anonymous"></script>
</head>

<body>
  <br>
  <br>
  <section class="sec-01">
    <div class="container">
      <div class="content">
        <div class="image">
          <img src="images/ibex.jpg" alt="">
        </div>
        <div class="text-box">
          <h3>Ibex</h3>
          <ul>
            <b>Scientific name:</b> Capra ibex<br>
            <b>Status:</b> Least Concern(population increasing)<br>
            <b>Weight:</b> 200 to 270 pounds (91 to 120 kg)<br>
            <b>Size:</b> 27 to 43 inches (0.69 to 1.09 m)<br>
            <b>Population:</b> Around 450-500<br>
            <b>Habitat:</b> The herbivorous goats are found from western Mongolia to Altai, Hangai, Gobi-Altai, the Hurukh mountain ranges, and Sayan Mountains near the Russian border; scattered populations also exist in the shallow mountains of the Trans-Altai Gobi.<br>
            <b>Diet:</b> Ibex are herbivores; they only eat vegetation, such as shrubs, bushes and grasses.<br>
            <b>Range:</b> Typically inhabiting elevations between 500 to 6700 metres, these wild goats have adeptly adapted to cold deserts, rocky outcrops, steep terrain, flats, ridges, and foothills.
          </ul><br>
          <button id="modalBtn" class="button">MORE INFO!</button>
        </div>
        <div id="simpleModal" class="modal">
          <div class="modal-content">
            <div class="modal-header">
              <span class="closeBtn">&times;</span>
              <h2>Ibex</h2>
            </div>
            <div class="modal-body">
              <p>Most wild goat species are doing well, but two are facing extinction. The Nubian ibex is considered vulnerable by the International Union for Conservation of Nature because its numbers are decreasing; it is estimated that there are fewer than 10,000 mature individuals.</p>
              <br>
              <p>According to the IUCN, the Walia ibex is endangered, with only about 500 of their kind left.</p>
            </div>
            <div class="modal-footer">
              <a href="https://india.mongabay.com/2020/05/genetic-study-suggests-himalayan-ibex-could-be-different-from-their-siberian-counterparts/" style="text-decoration: none; color: white;" target="_blank">
                <h3>Protect IBEX</h3>
              </a>
            </div>
          </div>
        </div>
      </div>
  </section>
  <br>
  <br>
  <br>
  <br>
  <section class="sec-02">
    <div class="container">
      <div class="content">
        <div class="image">
          <img src="images/barking_deer.jpg" alt="">
        </div>
        <div class="info">
          <h3>Barking Deer</h3>
          <p>
            <b>Scientific name:</b> Muntiacus<br>
            <b>Status:</b> Least Concern (Population decreasing)<br>
            <b>Weight:</b> 18 kg (Adult)<br>
            <b>Size:</b> 99 cm (Adult)<br>
            <b>Population:</b> Around 2800<br>
            <b>Habitat:</b> The Indian muntjac is found in tropical and subtropical deciduous forests, grasslands, savannas, and scrub forests, as well as in the hilly country on the slopes of the Himalayas.<br>
            <b>Diet:</b> The Indian muntjacs are classified as omnivores.<br>
            <b>Range:</b> They are found at altitudes ranging from sea level up to 3000 m.
          </p><br>
          <button id="modalBtn1" class="button">MORE INFO!</button>
        </div>
      </div>
      <div id="simpleModal1" class="modal">
        <div class="modal-content">
          <div class="modal-header">
            <span class="closeBtn1">&times;</span>
            <h2>Barking Deer</h2>
          </div>
          <div class="modal-body">
            <p>The Indian muntjac (Muntiacus muntjak), also called the red muntjac, common muntjac or barking deer, is the most numerous muntjac deer species.</p>
              <br>
            <p>It has soft, short, brownish or greyish hair, sometimes with creamy markings.</p>
          </div>
          <div class="modal-footer">
            <a href="https://india.mongabay.com/2019/05/the-barking-deer-enigma/" style="text-decoration: none; color: white;" target="_blank">
              <h3>Protect DEERS</h3>
            </a>
          </div>
        </div>
      </div>
  </section>
  <br>
  <br>
  <br>
  <br>
  <section class="sec-03">
    <div class="container">
      <div class="content">
        <div class="image">
          <img src="images/golden_eagle.jpg" alt="">
        </div>
        <div class="text-box">
          <h3>Golden eagle</h3>
          <p>
            <b>Scientific name:</b> Aquila chrysaetos<br>
            <b>Status:</b> Least Concern (Population decreasing)<br>
            <b>Weight:</b> 3.6 – 6.7 kg(male), 2.8 – 4.6 kg(female)<br>
            <b>Wingspan:</b> 1.8 – 2.3 m<br>
            <b>Size:</b> 66 – 100 cm<br>
            <b>Population:</b> Globally 170,000 birds<br>
            <b>Habitat:</b> The golden eagle inhabits various habitats like mountains, marshes, deserts, semi-deserts, plateaux, plains and steppe.<br>
            <b>Diet:</b> The golden eagle species feed on birds, reptiles, fish, amphibians and medium sized mammals like rodents, rabbits and hares.<br>
          </p><br>
          <button id="modalBtn2" class="button">MORE INFO!</button>
        </div>
        <div id="simpleModal2" class="modal">
          <div class="modal-content">
            <div class="modal-header">
              <span class="closeBtn2">&times;</span>
              <h2>Golden eagle</h2>
            </div>
            <div class="modal-body">
              <p>Human beings have been fascinated by the golden eagle as early as the beginning of recorded history. Most early-recorded cultures regarded the golden eagle with reverence.</p>
              <br>
              <p>It was only after the Industrial Revolution, when sport-hunting became widespread and commercial stock farming became internationally common, that humans started to widely regard golden eagles as a threat to their livelihoods.</p>
              <br>
              <p>This period also brought about the firearm and industrialized poisons, which made it easy for humans to kill the evasive and powerful birds.</p>
            </div>
            <div class="modal-footer">
              <a href="https://indianbirds.thedynamicnature.com/2015/08/golden-eagle-aquila-chrysaetos.html" style="text-decoration: none; color: white;" target="_blank">
                <h3>Protect EAGLES</h3>
              </a>
            </div>
          </div>
        </div>
      </div>
  </section>
  <br>
  <br>
  <br>
  <br>
  <section class="sec-04">
    <div class="container">
      <div class="content">
        <div class="image">
          <img src="images/cheer_pheasant.jpg" alt="">
        </div>
        <div class="info">
          <h3>Cheer Pheasant</h3>
          <p>
            <b>Scientific name:</b> Catreus wallichii<br>
            <b>Status:</b> Vulnerable<br>
            <b>Weight:</b> 1475-1700 g(male), 1250-1360 g(female)<br>
            <b>Size:</b> 35 to 47 inches (89 to 119 centimeters)
            <br>
            <b>Population:</b> Fewer than 2700 birds.
            <br>
            <b>Habitat:</b> They are found mainly in western Nepal, Uttarakhand (Kumaon and Garhwal), Himachal Pradesh (Shimla, Kullu and Chamba), and Jammu and Kashmir in northwestern India, and Hazara division, Khyber Pakhtunkhwa in northern Pakistan.<br>
            <b>Diet:</b> Cheer pheasants will usually dig for their food. Their powerful beak is perfect for digging up grubs, beetles and snails.<br>
          </p><br>
          <button id="modalBtn3" class="button">MORE INFO!</button>
        </div>
        <div id="simpleModal3" class="modal">
          <div class="modal-content">
            <div class="modal-header">
              <span class="closeBtn3">&times;</span>
              <h2>Cheer Pheasant</h2>
            </div>
            <div class="modal-body">
              <p>The major threats to Cheer Pheasants are hunting, forest fires, grazing and fodder collection. Forest fires pose a major threat as it mostly occurs during the breeding season.</p>
                <br>
              <p>Grazing and fodder collection result in the reduction of disturbance-free habitat that the Cheer Pheasants prefer. Globally, due these unregulated activities, the population of Cheer Pheasants has reduced to fewer than 2700 birds.</p>
              <br>
              <p>As a result, it is a highly protected species included in the Schedule-I of India Wildlife Protection Act. 1972.</p>
            </div>
            <div class="modal-footer">
              <a href="https://www.iucn.org/news/india/202002/re-introduction-cheer-pheasant-wild-himachal-pradesh-india" style="text-decoration: none; color: white;" target="_blank">
                <h3>Protect CHEER PHEASANT</h3>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <a href="#" class="to-top">
    <i class="fas fa-chevron-up"></i>
  </a>
  <script src="js/common.js"></script>

</body>

</html>
