<html>

<head>
  <title>Claim Reward</title>
  <link rel="icon" href="/css/favicon.ico">
  <!-- A-frame scripts -->
  <script src="https://aframe.io/releases/1.2.0/aframe.min.js"></script>
  <script src="https://jeromeetienne.github.io/AR.js/aframe/build/aframe-ar.js"></script>
</head>

<body>
  <a-scene embedded arjs>
    <!-- Size adjustments -->
    <a-entity gltf-model="images/chameleon_ar/scene.gltf" scale=".08 .08 .08" rotation="-10 40 0" position="-5 -4 -15"></a-entity>
    <a-marker-camera preset='hiro'></a-marker-camera>
  </a-scene>
</body>

</html>

<!-- TODO: Attach rotation or any other animation -->
<!-- TODO: Some kind of instruction page to use AR -->
<!-- TODO: Reuse this code using ejs properties -->
