<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marker Download</title>
    <link rel="icon" href="/css/favicon.ico">
    <link rel="stylesheet" href="css/download_marker.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <!-- Image file present here -->
    <a href="images/hiro_marker.jpg" download='hiro_marker' class="download-btn">Download HIRO Marker
        <i class="fa fa-download"></i>
    </a>
    <h1>After downloading marker, close this window and continue to claim reward.</h1>
</body>
</html>

<!-- TODO: Copyright footer to be attached -->
