<!DOCTYPE html>
<html lang="en">

<head>
  <title>ANIMALIA</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/styles1.css">
  <link rel="stylesheet" href="css/slide_show.css">
  <link rel="icon" href="/css/favicon.ico">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>

<body>

  <div class="container">
    <!-- <h2>Carousel Example</h2> -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner slider">

        <div class="item active">
          <img class="timeline" src="images/animal-care.png" alt="Time line">
          <div class="header-text hidden-xs">
            <div class="col-md-12 text-center">
              <h2>
                <span>Team 11 presents <strong>ANIMALIA</strong></span>
              </h2>
              <br>
              <h3>
                <span>Step up to saving wildlife</span>
              </h3>
              <br>
              <div class="">
                <a class="btn btn-theme btn-sm btn-min-block" href="#">Login</a><a class="btn btn-theme btn-sm btn-min-block" href="#">Register</a>
              </div>
            </div>
          </div>
        </div>

        <div class="item">
          <img class="timeline" src="images/timing.png" alt="Chicago">
          <div class="header-text hidden-xs">
            <div class="col-md-12 text-center">
              <h2>
                <span>Let us go back in <strong>TIME</strong></span>
              </h2>
              <br>
              <h3>
                <span>Go back in time and go crazy in wild</span>
              </h3>
              <br>
              <div class="">
                <a class="btn btn-theme btn-sm btn-min-block" href="#">Login</a><a class="btn btn-theme btn-sm btn-min-block" href="#">Register</a>
              </div>
            </div>
          </div>
        </div>

        <div class="item">
          <img class="ar" src="images/AR.png" alt="New York">
          <div class="header-text hidden-xs">
            <div class="col-md-12 text-center">
              <h2>
                <span>Welcome to <strong>AR WILD</strong></span>
              </h2>
              <br>
              <h3>
                <span>Explore and enjoy wildlife with latest AR feature</span>
              </h3>
              <br>
              <div class="">
                <a class="btn btn-theme btn-sm btn-min-block" href="#">Login</a><a class="btn btn-theme btn-sm btn-min-block" href="#">Register</a>
              </div>
            </div>
          </div>
        </div>

      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

    <br>

    <div class="float-container">
      <div class="buttonSection float-child">
        <iframe src="https://giphy.com/embed/1430ZmFYxLxeHm" width="410" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
        <p><a href="https://giphy.com/gifs/animal-tiger-1430ZmFYxLxeHm">via GIPHY</a></p>
      </div>

      <div class="dropdown float-child btndiv">
        <button class="dropbtn">Select a state here</button>
        <div class="dropdown-content">
          <a href="/nosignin/homepage/andhra_pradesh">Andhra Pradesh</a>
          <a href="#">Tamil Nadu</a>
          <a href="#">Telangana</a>
        </div>
      </div>
    </div>


    <br>
    <br>
    <br>
    <br>

  </div>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-8 col-lg-6">
        <!-- Section Heading-->
        <div class="section_heading text-center wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
          <h3 class"about_us_heading">Our Creative <span> Team</span></h3>
          <p class="about_us_paragraph">Appland is completely creative, lightweight, clean &amp; super responsive app landing page.</p>
          <div class="line"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <!-- Single Advisor-->
      <div class="col-12 col-sm-6 col-lg-3">
        <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
          <!-- Team Thumb-->
          <div class="advisor_thumb"><img class="about_us_img" src="images/greeshmitha.jpeg" alt="">
            <!-- Social Info-->
            <div class="social-info"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a></div>
          </div>
          <!-- Team Details-->
          <div class="single_advisor_details_info">
            <h6>Greeshmitha</h6>
            <p class="designation">UI Designer</p>
          </div>
        </div>
      </div>
      <!-- Single Advisor-->
      <div class="col-12 col-sm-6 col-lg-3">
        <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
          <!-- Team Thumb-->
          <div class="advisor_thumb"><img class="about_us_img" src="images/ruthvik.png" alt="">
            <!-- Social Info-->
            <div class="social-info"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a></div>
          </div>
          <!-- Team Details-->
          <div class="single_advisor_details_info">
            <h6>Bobba Rthvik</h6>
            <p class="designation">Developer</p>
          </div>
        </div>
      </div>
      <!-- Single Advisor-->
      <div class="col-12 col-sm-6 col-lg-3">
        <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
          <!-- Team Thumb-->
          <div class="advisor_thumb"><img class="about_us_img" src="images/suman.jpeg" alt="">
            <!-- Social Info-->
            <div class="social-info"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a></div>
          </div>
          <!-- Team Details-->
          <div class="single_advisor_details_info">
            <h6>Suman P</h6>
            <p class="designation">Project architect</p>
          </div>
        </div>
      </div>
      <!-- Single Advisor-->
      <div class="col-12 col-sm-6 col-lg-3">
        <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
          <!-- Team Thumb-->
          <div class="advisor_thumb"><img class="about_us_img" src="images/rithika.jpeg" alt="">
            <!-- Social Info-->
            <div class="social-info"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a></div>
          </div>
          <!-- Team Details-->
          <div class="single_advisor_details_info">
            <h6>Rithika S</h6>
            <p class="designation">QA and testing specialist</p>
          </div>
        </div>
      </div>
    </div>
  </div>


</body>

</html>
