<html>
<head>
  <meta charset="utf-8">
  <title>Instruction Page</title>
  <link rel="icon" href="/css/favicon.ico">
  <link rel="stylesheet" href="css/instructionsPage.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
</head>

<body>
  <div class="row">
    <!-- adding a side nav bar for easy navigation  -->
    <nav id="navbar">
      <header>Easy Navigation</header>
      <a class="nav-link" href="#Introduction">Introduction</a>
      <a class="nav-link" href="#3d_Image">3d Image</a>
      <a class="nav-link" href="#AR_image">AR image</a>
      <a class="nav-link" href="#Desktop_Adjustment">Desktop Angle Adjustment</a>
      <a class="nav-link" href="#Phone_Adjustment">Phone Angle Adjustment</a>
    </nav>
    <main id="main-doc">
      <section class="main-section" id="Introduction">
        <header>
          <!-- info for instructions -->
          <h1>INSTRUCTIONS</h1>
        </header>
        <p>A-frame is the latest web AR technology, which is currently used in this application. Here a customer can procure two types of rewards</p>
        <ul>
          <li>3d playable image</li>
          <li>AR image</li>
        </ul>

      </section>
      <section class="main-section" id="3d_Image">
        <header>
          <!-- adding info about 3d image -->
          <h1>3D IMAGE</h1>
        </header>
        <p>Can be procured as a login bonus for signing in to the application</p>
        <img src="images/threed.jpg" alt="3d_instructions" style="width: 80%">
        <code>Simply use your mouse, drag and scroll. No phone or marker download needed.</code>
      </section>
      <section class="main-section" id="AR_image">
        <header>
          <!-- adding information about AR images -->
          <h1>AR IMAGE</h1>
        </header>
        <p>A-frame - A web framework for building 3D/AR/VR experiences was used here. This part is a bit lengthy but worth the wait.</p>
        <img src="images/hiro_marker.jpg" alt="hiro_marker" style="width: 80%">
        <code>Download the HIRO marker(download option available in ANIMLAIA too)
          , or simply take the screen shot of above</code>
      </section>
      <section class="main-section" id="Desktop_Adjustment">
        <header>
          <!-- information about desktop angle adjustment -->
          <h1>DESKTOP ANGLE ADJUSTMENT</h1>
        </header>
        <p>AR images can only be procured by attempting the quiz as of now(for R1). Even a score of 0 can give you a reward.</p>
        <img src="images/desktop_angle.jpeg" alt="desktop_angle" style="width: 80%">
        <p>Follow the below instructions step by step:</p>
        <ul>
          <li>Make sure there is less light from back of laptop.</li>
          <li>If possibe face the camera with some light from the front(to get better focus)</li>
          <li>Adjust the amgle to an acute one(60-70 degrees) between screen and laptop</li>
          <li>Finally give permission to use your laptop front camera.</li>
        </ul>
      </section>
      <section class="main-section" id="Phone_Adjustment">
        <header>
          <!-- adding information about phone angle adjustment -->
          <h1>PHONE ANGLE ADJUSTMENT</h1>
        </header>
        <h2>Open marker in your mobile Gallery</h2>
        <img src="images/phone_angle.png" alt="phone_angle" style="width: 100%">
        <p>Sit in an area where less sunlight hits your face(So that marker can be visible to laptop camera).</p>
        <p>Now show your marker onto the screen. Try to place the phone on a flat surface like table and focus camera there.</p>

      </section>
  </div>
</body>

</html>
