<html>

<head>
  <title>Claim Reward</title>
  <link rel="icon" href="/css/favicon.ico">
  <!-- A-frame scripts -->
  <title>3d-demo</title>
  <script src="https://aframe.io/releases/1.2.0/aframe.min.js"></script>
</head>

<body>
  <a-scene>
    <!-- Size adjustments -->
      <a-entity gltf-model="images/land_animals_ar/scene.gltf" scale=".2 .2 .2" rotation="0 -100 0" position="-1 -1 -10"></a-entity>
  </a-scene>
</body>

</html>

<!-- TODO: Attach rotation or any other animation -->
<!-- TODO: Some kind of instruction page to use 3D -->
<!-- TODO: Reuse this code using ejs properties -->
