<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>ANIMALIA</title>
  <link rel="stylesheet" href="css/styles.css">
  <link rel="icon" href="/css/favicon.ico">
  <style media="screen">
    .fcc-btn {
      background-color: #6cd29f;
      color: white;
      padding: 15px 25px;
      text-decoration: none;
    }

    .fcc-btn:hover {
      background-color: #223094;
    }
  </style>
</head>

<body>

  <div class="main">
    <h1>Welcome to</h1>
    <img src="images/animalia3.gif" alt="" class="gif">
    <div class="nav top-nav">
      <ul>
        <li><a href="#" class="nav-link first-link">Home</a></li>
        <li><img src="images/turtle.png" alt="" class="turtle1"></li>
        <li><img src="images/turtle.png" alt="" class="turtle2"></li>
        <li><img src="images/turtle.png" alt="" class="turtle3"></li>
        <li><a target="_blank" href="/nosignin/homepage/andhra_pradesh/quiz" class="nav-link last-link">Quiz</a></li>
      </ul>
    </div>
  </div>


  <div class="container">

    <div class="top-section">
      <h1>Animated Timeline</h1>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
        book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged</p>
    </div>

    <div class="timeline">
      <div class="line"></div>


      <div class="section">
        <div class="bead"></div>
        <div class="content">
          <h2>(1971 - 1981)</h2>
          <p>This period marked as the start of animal rights. Animal welfare and rights in India regards the treatment of and laws concerning non-human animals in India</p>
          <br>
          <a target="_blank" class="fcc-btn" href="/nosignin/homepage/andhra_pradesh/stream1">Select this Time Stream</a>
        </div>
        <img src="images/animal_welfare.png" class="img-right">
      </div>


      <div class="section">
        <div class="bead"></div>
        <div class="content">
          <h2>Web Development</h2>
          <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage
            of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
        </div>
        <img src="images/cool.png" class="img-left">
      </div>


      <div class="section">
        <div class="bead"></div>
        <div class="content">
          <h2>Frontend</h2>
          <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a
            passage
            of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
        </div>
        <img src="images/nerd.png" class="img-right">
      </div>



      <div class="section">
        <div class="bead"></div>
        <div class="content">
          <h2>Backend</h2>
          <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage
            of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
        </div>
        <img src="images/happiness.png" class="img-left">
      </div>



      <div class="section">
        <div class="bead"></div>
        <div class="content">
          <h2>SEO optimized</h2>
          <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a
            passage
            of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
        </div>
        <img src="images/shocked.png" class="img-right">
      </div>




    </div>
  </div>

  <script src="js/timeline.js"></script>
</body>

</html>
