<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>ANIMALIA</title>
  <link rel="stylesheet" href="css/styles.css">
  <link rel="icon" href="/css/favicon.ico">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
  <!--Bonus Button animation -->
  <style media="screen">
    .fcc-btn {
      background-color: #6cd29f;
      color: white;
      padding: 15px 25px;
      text-decoration: none;
    }

    .fcc-btn:hover {
      background-color: #223094;
    }
  </style>
</head>

<body>

  <div class="main">

    <div class="topnav">
      <% if (check === 1) { %>
      <p class="username">Hi, <%=user.name %></p>
      <%} %>
      <div class="topnav-right">
        <a href="/nosignin/homepage">HOME</a>
        <a target="_blank" href="/nosignin/homepage/andhra_pradesh/quiz">QUIZ</a>
        <a target="_blank" href="/nosignin/homepage/andhra_pradesh/instructions">INSTRUCTIONS</a>
        <% if (check === 1) { %>
        <a href="/" onclick="signOut();">SIGN OUT</a>
        <% } %>
      </div>
    </div>


    <img src="images/timelinebg2.jpg" alt="" class="timelineimage">
    <h1>WELCOME TO AP WILDLIFE!</h1>

  </div>

  <!-- 5 time period display -->
  <div class="container">

    <div class="top-section">
      <h1>Wildlife of Andhra Pradesh</h1>
      <p>The state of Andhra Pradesh is considered one of the rich bio-diversified states in India. Natural vegetation (flora) and animal life (fauna) depend mainly on climate, relief, and soil. Krishna and Godavari are the two largest rivers flowing
        through the state. The Andhra Pradesh Forest Department deals with protection, conservation and management of forests</p>
    </div>

    <div class="timeline">
      <div class="line"></div>


      <div class="section">
        <div class="bead"></div>
        <div class="content">
          <h2>(1971 - 1981)</h2>
          <p>This period marked as the start of animal rights. Animal welfare and rights in India regards the treatment of and laws concerning non-human animals in India</p>
          <br>
          <a href="/nosignin/homepage/rajasthan/stream1"> <button class="showmorebutton">Show me more!</button> </a>
        </div>
        <img src="images/animal_welfare.png" class="img-right">
      </div>


      <div class="section">
        <div class="bead"></div>
        <div class="content">
          <h2>(1981 - 1991)</h2>
          <p>Environmental (Protection) Act(1986), Asian Development Bank Report (1991) and many acts and rights came out during this period.</p>
          <br>
          <a href="/nosignin/homepage/rajasthan/stream2"> <button class="showmorebutton">Show me more!</button> </a>
        </div>
        <img src="images/forest-laws.png" class="img-left" style="width: 20%; height: 20%;">
      </div>


      <div class="section">
        <div class="bead"></div>
        <div class="content">
          <h2>(1991 - 2001)</h2>
          <p>A Wildlife Sanctuary is a protected area of importance for flora, fauna, or features of geological or other interest, which is reserved and managed for conservation and to provide opportunities for study or research.</p>
          <br>
          <a href="/nosignin/homepage/rajasthan/stream3"> <button class="showmorebutton">Show me more!</button> </a>
        </div>
        <img src="images/animal-sanctuary.png" class="img-right">
      </div>



      <div class="section">
        <div class="bead"></div>
        <div class="content">
          <h2>(2001 - 2011)</h2>
          <p>Papikonda is added to the list of National Park in 2008, similarly Rameswaram in 2005. Both state and central government took active role in wildlife conservation.</p>
          <br>
          <a href="/nosignin/homepage/rajasthan/stream4"> <button class="showmorebutton">Show me more!</button> </a>
        </div>
        <img src="images/national-park.png" class="img-left" style="width: 20%; height: 20%;">
      </div>



      <div class="section">
        <div class="bead"></div>
        <div class="content">
          <h2>(2011 - 2021)</h2>
          <p>Forest fires are on the rise in the State. More than 15,200 instances have been reported in the last five months. Good rains and wildlife conservation is the only permanent solution.</p>
          <br>
          <a href="/nosignin/homepage/rajasthan/stream5"> <button class="showmorebutton">Show me more!</button> </a>
          <!-- class="fcc-btn" -->
        </div>
        <img src="images/forest-fire.png" class="img-right">
      </div>




    </div>
  </div>
  <script>
    function signOut() {
      var auth2 = gapi.auth2.getAuthInstance();
      auth2.signOut().then(function() {
        console.log("User signed out.");
      })
    }
  </script>
  <!-- Java Script file link -->
  <script src="js/timeline.js"></script>
</body>

</html>

<!-- FIXME: Some additional(empty) space in right -->
<!-- TODO: Button CSS improvement -->
