<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>ANIMALIA</title>
  <link rel="stylesheet" href="css/styles.css">
  <link rel="icon" href="/css/favicon.ico">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
  <!--Bonus Button animation -->
  <style media="screen">
    .fcc-btn {
      background-color: #6cd29f;
      color: white;
      padding: 15px 25px;
      text-decoration: none;
    }

    .fcc-btn:hover {
      background-color: #223094;
    }
  </style>
</head>

<body>

  <div class="main">
    <!-- Bonus button check and display -->
    <% if (check === 1) { %>
    <button class="signinbtn"><a target="_blank" href="/signin/bonus" style="text-decoration:none; color: inherit;">LOGIN BONUS</a></button>
    <% } %>
    <h1>Welcome to</h1>
    <img src="images/animalia3.gif" alt="" class="gif">
    <div class="nav top-nav">
      <ul>
        <!-- <li><a href="#" class="nav-link first-link">Home</a></li> -->
        <% if (check === 1) { %>
        <p class="username">Hi, <%=user.name %></p>
        <%} else { %>
        <li><a href="#" class="nav-link first-link">Home</a></li>
        <% } %>
        <li><img src="images/turtle.png" alt="" class="turtle1"></li>
        <li><img src="images/turtle.png" alt="" class="turtle2"></li>
        <li><img src="images/turtle.png" alt="" class="turtle3"></li>
        <li><a target="_blank" href="/nosignin/homepage/andhra_pradesh/quiz" class="nav-link last-link">Quiz</a></li>
      </ul>
    </div>
  </div>

  <!-- 5 time period display -->
  <div class="container">

    <div class="top-section">
      <h1>Animated Timeline</h1>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
        book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged</p>
    </div>

    <div class="timeline">
      <div class="line"></div>


      <div class="section">
        <div class="bead"></div>
        <div class="content">
          <h2>(1971 - 1981)</h2>
          <p>This period marked as the start of animal rights. Animal welfare and rights in India regards the treatment of and laws concerning non-human animals in India</p>
          <br>
          <a href="/nosignin/homepage/andhra_pradesh/stream1"> <button style="padding: 15px;">Show me more</button> </a>
        </div>
        <img src="images/animal_welfare.png" class="img-right">
      </div>


      <div class="section">
        <div class="bead"></div>
        <div class="content">
          <h2>(1981 - 1991)</h2>
          <p>This period marked as the start of animal rights. Animal welfare and rights in India regards the treatment of and laws concerning non-human animals in India</p>
          <br>
          <a href="/nosignin/homepage/andhra_pradesh/stream2"> <button style="padding: 15px;">Show me more</button> </a>
        </div>
        <img src="images/cool.png" class="img-left">
      </div>


      <div class="section">
        <div class="bead"></div>
        <div class="content">
          <h2>(1991 - 2001)</h2>
          <p>This period marked as the start of animal rights. Animal welfare and rights in India regards the treatment of and laws concerning non-human animals in India</p>
          <br>
          <a href="/nosignin/homepage/andhra_pradesh/stream3"> <button style="padding: 15px;">Show me more</button> </a>
        </div>
        <img src="images/nerd.png" class="img-right">
      </div>



      <div class="section">
        <div class="bead"></div>
        <div class="content">
          <h2>(2001 - 2011)</h2>
          <p>This period marked as the start of animal rights. Animal welfare and rights in India regards the treatment of and laws concerning non-human animals in India</p>
          <br>
          <a href="/nosignin/homepage/andhra_pradesh/stream4"> <button style="padding: 15px;">Show me more</button> </a>
        </div>
        <img src="images/happiness.png" class="img-left">
      </div>



      <div class="section">
        <div class="bead"></div>
        <div class="content">
          <h2>(2011 - 2021)</h2>
          <p>This period marked as the start of animal rights. Animal welfare and rights in India regards the treatment of and laws concerning non-human animals in India</p>
          <br>
          <a href="/nosignin/homepage/andhra_pradesh/stream5"> <button style="padding: 15px;">Show me more</button> </a>
          <!-- class="fcc-btn" -->
        </div>
        <img src="images/shocked.png" class="img-right">
      </div>




    </div>
  </div>
<!-- Java Script file link -->
  <script src="js/timeline.js"></script>
</body>

</html>

<!-- FIXME: Some additional(empty) space in right -->
<!-- TODO: Button CSS improvement -->
